@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 5rem 0;
  background-color: rgba(192, 192, 192, 0.151);
  color: gray;
  font-family: 'Roboto Mono', sans-serif;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.to-do-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 7px 7px 18px 0 rgba(0, 0, 0, 0.1);
}

.to-do-container .common {
  width: 100%;
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid rgba(192, 192, 192, 0.473);
}

.to-do-title {
  font-size: 1rem;
  font-weight: 600;
}

.to-do-container .add-task #add-task-input {
  height: 3.9rem;
  width: 90%;
  border: 0;
  outline: transparent;
  font-size: 1.1rem;
  color: gray;
}

.to-do-container .add-task #add-task-input::placeholder {
  font-style: italic;
  color: silver;
}

.to-do-container .clear-all {
  background-color: rgba(192, 192, 192, 0.151);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: silver;
  border: 0;
  border-top: 1px solid rgba(192, 192, 192, 0.473);
  cursor: pointer;
  height: 5rem;
  width: 100%;
}

.to-do-container .list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.to-do-container .list-container li {
  height: 4rem;
  width: 100%;
  padding: 0 3%;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(192, 192, 192, 0.473);
}

.to-do-container .list-container li .description-container {
  display: flex;
  gap: 4%;
  align-items: center;
  width: 100%;
}

.check {
  transform: scale(1.5);
  border-radius: 0;
}

.change-background {
  background-color: rgba(255, 255, 0, 0.295);
  height: 4rem;
  width: 100%;
  padding: 0 3%;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
}

.transp-background {
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 1.1rem;
  color: gray;
  font-family: 'Roboto Mono',sans-serif;
}