@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 5rem 0;
  background-color: #05445E;
  color: gray;
  font-family: 'Roboto Mono', sans-serif;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

svg:hover {
  cursor: pointer;
}

.to-do-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  background-color: #05445E;
  border-radius: 3px;
  box-shadow: 7px 7px 18px 0 rgba(0, 0, 0, 0.1);
  border: 5px solid #189AB4;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2%;
  border-bottom: 2px solid #189AB4;
  padding-bottom: 30px;
}

header p {
  transition: .8s ease;
}

.todo-icon {
  transition: .8s ease;
}

.animate-icon {
  transform: translateY(20px);
}

.to-do-container .common {
  width: 100%;
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-bottom: 2px solid #189AB4;
}

.to-do-title {
  font-size: 1rem;
  font-weight: 600;
  color: #D4F1F4;
}

.add-task {
  background-color: #189AB4;
}

.to-do-container .add-task #add-task-input {
  height: 3.9rem;
  width: 90%;
  border: 0;
  outline: transparent;
  font-size: 1.1rem;
  color: #05445E;
  background-color: #189AB4;
}

.to-do-container .add-task #add-task-input::placeholder {
  font-style: italic;
  color: #05445E;
}

.to-do-container .clear-all {
  background-color: rgba(192, 192, 192, 0.151);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #D4F1F4;
  border: 0;
  border-top: 1px solid #189AB4;
  cursor: pointer;
  height: 5rem;
  width: 100%;
}

.to-do-container .list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.to-do-container .list-container li {
  height: 4rem;
  width: 100%;
  padding: 0 3%;
  display: flex;
  align-items: center;
  border-top: 1px solid #189AB4;
}

.to-do-container .list-container li .description-container {
  display: flex;
  gap: 4%;
  align-items: center;
  width: 100%;
  color: #D4F1F4;
}

/* .check {
  transform: scale(1.8);
  border-radius: 0;
} */

.change-background {
  background-color: #0b4e46b4;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid transparent;
  outline: none;
}

.transp-background {
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 1.1rem;
  color: #D4F1F4;
  font-family: 'Roboto Mono', sans-serif;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 12px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #D4F1F4;
}

.container input:checked ~ .checkmark {
  background-color: #189AB4;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #D4F1F4;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}